@model Sistema_Viajes.Models.Transportista

@{
    ViewData["Title"] = "Información";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Información</h1>

<div>
    <h4>Transportista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTransportista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTransportista)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTransportista">Regresar a editar</a> |
    <a asp-action="Index">Regresar a Transportista</a>
</div>
